

<ion-content class="statistics">
  <ion-grid>
    <h1>Statistics</h1>

    <ion-row *ngIf="mode_me">
      <ion-col>
        <div class=" chart statistic_me"></div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="mode_me">
      <ion-col>
        <div class=" chart statistic_me_savings"></div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="mode_friends">
      <ion-col>
        <div class="chart statistic_friends">

        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="mode_others">
      <ion-col>
        <div class="chart statistic_class"></div>
      </ion-col>
    </ion-row>
    </ion-grid>

    <ion-grid class="footer">
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col><button type="button" name="button" (click)="dismiss()">X</button></ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
