.house {
  background-image: url("../../img/Background_autumn-01-01_cropped.jpg");
  background-size: cover;

  .room_plan ion-col{
    min-height:100px;
    background-color:white;
    border:1px solid grey;
  }

  .comp_lamp{
    background-image: url("../../img/ecomponents/lamp.svg.png");
    background-size: cover;
    height:45px;
    width: 45px;
    display: inline-block;
  }


}
