.home {
  background-image: url("../../img/Background_autumn-01-01_cropped.jpg");
  background-size: cover;
  .avatar_one{
    background-image: url("../../img/mufmix_07.svg");
    background-repeat: no-repeat;
    background-size: cover;

    width: 7rem;
    height:20rem;
  }

}
